html{
    padding: 0%;
    margin: 0;
    border: 0;
}
body{
    background-color: #282b30;
    padding: 0%;
    margin: 0;
    border: 0;
    padding-left: 20%;
    padding-right: 20%;

}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36393e;
    height: 100vh;
    box-shadow: rgb(46, 46, 46) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
    justify-content: space-between;
}
h1{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
.tag-container{
    background-color: #282b30;
    width: fit-content;
    height: fit-content;
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
p{
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 3rem;
}